[submodule "RadTTD"]
	path = RadTTD
	url = git@github.com:YanchunHe/RadTTD.git
[submodule "RadData"]
	path = RadData
	url = git@github.com:YanchunHe/RadData.git
[submodule "BIR"]
	path = BIR
	url = git@github.com:YanchunHe/BIR.git
[submodule "NKS"]
	path = NKS
	url = git@github.com:YanchunHe/NKS.git
